/* Navbar Styles */
/* .bg-green {
    background-color: #02066F;
} */

/* .navbar-dark .navbar-nav .nav-link {
    color: #fff ;
    font-size: 18px;
    font-weight: 600;
} */

/* .rounded-pill-active {
    border-radius: 50rem;
    background-color: #fff;
    color: #02066F !important;
} */

/* Form Styles */
/* General Form Layout */
.box-sty {
    background-color: #f9f9f9;
    padding: 20px; /* Reduced padding */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Set a maximum width for the form box */
    width: 100%; /* Ensure it takes full width within its parent */
    margin: 0 auto; /* Center the box horizontally */
}

textarea {
    min-height: 50px;
}

.link-text {
    font-size: 14px;
}

form .btn-green {
    background-color: #02066F;
    color: white;
    border: none;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

form .btn-green:hover {
    background-color: #02066F;
    border: none;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.link-style {
    color: #007bff;
    text-decoration: none;
}

.link-style:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .modal-dialog {
        margin: 20px auto;
    }

    .btn-green {
        width: 100%;
        margin-top: 10px;
    }

    .box-sty {
        padding: 20px; /* Maintain reduced padding for smaller screens */
        max-width: 90%; /* Allow more space on smaller screens */
    }
}
/* Default styles for the email text */
.textfond {
    font-size: 16px; /* Base font size */
}

/* Media Queries */
@media (max-width: 768px) {
    .textfond {
        font-size: 5px; /* Smaller font size for medium screens */
    }
}

@media (max-width: 576px) {
    .textfond {
        font-size: 12px; /* Smaller font size for small screens */
    }


}


.no {
    color: white;
    border: solid 1px #02066F !important;
    padding: 5px 21px !important;
}

.yes {
    color: white;
    background-color: #02066F;
    padding: 5px 24px !important;
}

.navbar-toggler {
    background-color: #02066F;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.navbar-toggler-icon {
    background-color: white;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

.footer {
    overflow: hidden !important;

}

.logo {
    width: 101px;
    height: 73.53px;
    margin-right: 20px;
}

@media screen and (max-width: 1000px) {
.sidebar {
    width: 200px;
    padding-top: 40px;
    margin-top: 0;
}

.sidebar a {
    font-size: 10px;
    padding: 10px 20px;
}


.sidebar button {
    font-size: 11px; 
    padding: 6px 6px;
    margin: 6px; 
}

.sidebar .closebtn {
    font-size: 30px;
    right: 15px;
}

#main {
    margin-left: 0;
}


.app_logo {
    width: 60px; 
    height: auto;
    margin-left: 1px; 
    margin-right: auto; 
}
}




.sidebar a i {
    margin-right: 15px;
}

.sidebar button {
    background-color: white;
    color: #02066F;
    margin: 20px;
    font-size: 11px !important; /* Apply font-size 8px */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.sidebar button:hover {
    background-color: gray;
    color: #02066F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
